#tooltipTriggerACR {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#tooltipTriggerGW {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


.tooltipTextACR {
    display: block;
    text-align: justify;
    position: absolute;
    font-size: 17px;    
    line-height: 1.4;
    background-color: rgb(207, 217, 233);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 60%;
    height: auto;
    top: 370px;
    right: 30%;
    transform: translateX(10%);
    z-index: 100;
    box-shadow: 2px 2px 3px black;
}

.tooltipTextGW {
    display: block;
    text-align: justify;
    position: absolute;
    font-size: 17px;    
    line-height: 1.4;
    background-color: rgb(207, 217, 233);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 60%;
    height: auto;
    top: 400px;
    right: 10%;
    transform: translateX(10%);
    z-index: 100;
    box-shadow: 2px 2px 3px black;
}

.Sec2ChallCards {
    display: flex;
    justify-content: space-between;
    width: 140%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 25px;
}

    .ChallgCard {
        width: 140%;
        height: 450px;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        cursor: pointer;
        box-shadow: 0 0 0 3px #60814Aff;
        border-radius: 10px;
        background-color: none;
    }
    
    .ChallgCard:hover {
        transform: rotateY(180deg) scale(1.07);
        z-index: 100;
    }
    
    .ChallgCardInner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        background-color: none;
    }
    
    .ChallgCardFront,
    .ChallgCardBack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    
    .ChallgCardFront {
        background-color: #D5D5C9ff;
        transform: rotateY(0deg);
    }

    .ChallgCardFront p {
        font-size: 40px;
        font-family: monospace;
        font-weight: bolder;
        transform: rotate(-90deg);
    }
    
    .ChallgCardBack {
        background-color: #C3CB9Dff;
        transform: rotateY(180deg);
        padding: 25px;
    }

.parr1 {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

#tooltipTriggerG20 {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.tooltipTextG20 {
    display: block;
    text-align: justify;
    position: absolute;
    font-size: 17px;    
    line-height: 1.4;
    background-color: rgb(207, 217, 233);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    width: 60%;
    height: auto;
    top: 1410px;
    right: 40%;
    transform: translateX(10%);
    z-index: 100;
    box-shadow: 2px 2px 3px black;
}

#ERmilestonesContainer {
    display: flex;
    background-color: #848D67;
    height: 400px;
    width: 120%;
    margin: 20px 0px;
}

.ERmilestones {
    position: relative;
    width: 25%;
    color: aliceblue;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
}

.ERmilestones::before,
.ERmilestones::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ERmilestones::before {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(48, 70, 43, 1) 75%
    );
    z-index: 1;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.ERmilestones:hover {
    width: 30%;
}

.ERmilestones:hover::before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
}

.ERmilestones:hover .ERmilestones-content {
    opacity: 1;
    transform: translateY(-60%);
    transition: all 0.3s ease 0.3s;
}

.ERmilestones:hover .ERmilestones-year {
    transform: translateY(-250%);
    transition: all 0.3s ease 0.3s;
}

.ERmilestones-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    margin: 30px;
    top: 55%;
    opacity: 0;
}

.ERmilestones-year {
    display: flex;
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.ERmilestones-year .subtitle {
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1;
    transition: transform 0.3s ease;
}
